*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  width: 100%;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.top {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  margin-left: 0 auto;
  padding: 0 15px 0 15px;
  width: 1158px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.down .accent {
  color: #f4f4fd;
}

.menu {
  font-weight: 500;
  color: #2e2f42;
}

.contact {
  display: flex;
  font-style: normal;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.contact-link {
  color: #434455;
}

.contact-list {
  display: flex;
}

.menu:hover,
.menu:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 0;
  padding-bottom: 188px;
  padding-left: 472px;
  padding-right: 472px;
}

.hero-image-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-image-btn {
  display: block;
  max-width: 169px;
  background-color: #4d5ae5;
  color: currentColor;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
}

.hero-image-btn:hover,
.hero-image-btn:focus {
  background-color: #404bbf;
}

.title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-feature {
  visibility: hidden;
}

.future-list {
  display: flex;
  gap: 24px;
}

.future-list-mark {
  width: calc((100% - 72px) / 4);
}

.cards {
  background-color: #f4f4fd;
}

.content {
  display: flex;
  gap: 24px;
  background-color: #ffffff;
}

.content-mark {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.content-mark-descr {
  padding: 32px 0;
  text-align: center;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.apps-list {
  width: calc((100% - 48px) / 3);
}

.apps-list-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.feature-title,
.teams-cards-title,
.projact-cards-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.down {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.logo .down {
  display: inline-block;
  margin-bottom: 16px;
}
